
/* ▼▼▼▼▼▼▼▼▼ 메뉴바 ▼▼▼▼▼▼▼▼ */
ul.navbar-nav {
    width: 100%;
}
a#navbarDropdown {
    margin-top: .2rem;
    padding: .3rem 1rem;
    /* margin-top: auto; */
}
li.nav-item.active a {
	font-weight: 900;
	text-shadow: 1px 2px #333;
}
a.text-warning:focus,
a.text-warning:hover {
	color : #ffc107!important;
	text-shadow: 1px 2px #000;
}
a.bg-warning:focus, a.bg-warning:hover, button.bg-warning:focus, button.bg-warning:hover {
	background : #ffc107!important;
	font-weight: 900;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}
li.nav-item.ml-auto.dropdown {
    position: fixed;
    top: 0.5rem;
    right: 10px;
    list-style: none;
    z-index: 9999;
}
.dropdown-menu.dropdown-menu-right.bg-warning.text-right.font-noto-sans a{
	cursor: pointer;
}
/* ▲▲▲▲▲▲▲▲ 메뉴바 ▲▲▲▲▲▲▲▲ */
.loginErrorMsgDiv {
	min-height: 30px;
}

/* ▼▼▼▼▼▼▼▼▼ 로그인 화면 ▼▼▼▼▼▼▼▼ */
#loginForm button.login,
#loginForm button.reg {
	width: calc(50% - 5px);
}
#loginForm button.login{
	margin-left : 5px;
}
#loginForm button.reg {
	margin-right : 5px;
}
/* ▲▲▲▲▲▲▲▲ 로그인 화면 ▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼ 회원가입 화면 ▼▼▼▼▼▼▼▼ */
.form-signin {
	margin-top: 150px;
}
/* ▲▲▲▲▲▲▲▲ 회원가입 화면 ▲▲▲▲▲▲▲▲ */

/*  */
div.body {
	margin: 10px;
	margin-top: 70px;
}
