@charset "UTF-8";

/* 폰트 설정 */
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../google/font/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
       ../google/font/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       ../google/font/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       ../google/font/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       ../google/font/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       ../google/font/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* 폰트사이즈 클래스 스타일 */
.font-noto-sans {font-family : 'Noto Sans KR', sans-serif, Noto Sans KR;}
.font-11 { font-size : 11px }
.font-12 { font-size : 12px }
.font-13 { font-size : 13px }
.font-14 { font-size : 14px }
.font-15 { font-size : 15px }
.font-16 { font-size : 16px }
.font-17 { font-size : 17px }
