@charset "UTF-8";
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */  
body {
	color: #374046;
	background-color: #374046;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.item {
  background-color: #ffffff;
}

.photothumb{
  width: 100%;
}

.title {
  padding: 20px;
 }

.title h3{
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.project .title{
  background-color: #607D8B;
}

.blog .title{
  background-color: #ff9800;
}

.photo .title{
  background-color: #f44336;
}
.content {
    background: #fff;
}
.desc{
	background: #fff;
	padding: 10px 10px 5px 10px;
}

.desc img{
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc p{
  margin-bottom: 10px;
}
.editMemo {
	cursor: pointer;
    margin-top: 0px;
    margin-right: -15px;
    float: right;
}
.editMemo:hover {
	color : #fff;
}
textarea#memoContent {
    min-height: 300px;
    max-height: 300px;
}

